body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  background: #ffffff;
  width: 400px;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
  margin-top: 0;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
  width: auto;

}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
  margin-top: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: auto;
  text-align: center;
  display: block;
}